# Environments
.env

# PCAP Data
capture/
capture_test/
*.pcap
*.pcap.gz

# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/
*/.venv/

# Rust
rust-extractor/target/

# logs
*/*.log
*.log

# models
classifier/models/*.joblib

# IDE
.vscode/
.idea/

*.DS_Store
